version: "3.8"

services:
  redis-server:
    image: "redis:alpine"
    container_name: redis-server
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    networks:
      - chat-net
    volumes:
      - redis-data:/data
    restart: always
    ports:
      - "6379:6379"

  mongo-db:
    image: mongo:latest
    container_name: mongo-db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    networks:
      - chat-net
    volumes:
      - mongo-data:/data/db
    restart: always
    ports:
      - "27017:27017"

  chat-server:
    image: ${DOCKERHUB_USERNAME}/chat-server:latest
    container_name: chat-server
    command: gunicorn --worker-class eventlet -w 1 --bind 0.0.0.0:8000 app:app
    networks:
      - chat-net
    env_file:
      - .env
    depends_on:
      - redis-server
      - mongo-db
    ports:
      - "8000:8000"
    restart: always

  chat-worker:
    image: ${DOCKERHUB_USERNAME}/chat-worker:latest
    container_name: chat-worker
    command: python worker.py
    networks:
      - chat-net
    env_file:
      - .env
    depends_on:
      - redis-server
      - mongo-db
    restart: always

networks:
  chat-net:
    driver: bridge

volumes:
  mongo-data:
  redis-data:
